.chat-container__ewc-class {
  // cambios para que puedan visualizarse de manera correcta en una pagina web.
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
  }
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  //--------------------------------------------

  overflow: hidden;
  animation: fadeIn 0.4s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  z-index: 1059;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 340px;
  height: 500px;
  min-width: 250px;
  min-height: 250px;
  box-shadow: 0 0px 10px -1px rgba(0, 0, 0, 0.683);
  border-radius: 10px;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(135deg, $main 0%, $secondary 120%);
}

.footer__ewc-class {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28.8px;
  .footer-button {
    font-family: 'Roboto', sans-serif;
    color: $gray-9;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    &:hover {
      transition: 0.3s ease all;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.hidden {
  display: none;
}

.without-header-back-container__ewc-class {
  transition: all 0.3ms;
  width: 40px;
  height: fit-content;
  position: absolute;
  left: 0;
  display: flex;
  transition: all 0.3s;
  .back-button__ewc-class {
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0px);
    top: 67px;
    left: 0px;
    border: none;
    height: 35px;
    width: 30px;
    background-image: linear-gradient(135deg, $secondary 20%, $main 120%);
    background-image: linear-gradient(135deg, $main 0%, $secondary 100%);
    color: $gray-10;
    outline: 1px solid white;
    box-shadow: 0 1.16px 2px 1px $gray-5;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 10px;
    white-space: nowrap;
    & > div {
      width: 0px;
      visibility: hidden;
    }
    & svg {
      margin-left: 2.5008px;
      min-height: 20px;
      min-width: 20px;
      // outline: 2px solid $gray-10;
      // border-radius: 50%;
    }
    &:hover {
      transition: all 0.3s;
      width: 70px;
      div {
        transition: all 0.3s;

        visibility: visible;
        max-height: 20px;
        width: 40px;
        color: $gray-10;
        border-radius: 5px;
        font-weight: 700;
        overflow: hidden;
      }
    }
  }
}
