.button-trigger-container__ewc-class {
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 11.2px;
  right: 20px;
  .button-trigger__ewc-class {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    // background: linear-gradient(140deg, $main 0%, $secondary 150%);
    background-color: $gray-10;
    border: 2px solid $gray-10;
    box-shadow: inset 0px 1px 5px 0px rgba($main, 0.5),
      0px 2px 5px 2px rgba(0, 0, 0, 0.185);
    &:hover {
      box-shadow: inset 0px 1px 5px 0px rgba($main, 0.5), 0px 0px 5px 1px $main;
      cursor: pointer;
    }
    .trigger-avatar__ewc-class {
      // overflow: hidden;
      transition: all 0.3s ease;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: linear-gradient(140deg, $main 0%, $secondary 150%);
    }
    overflow: hidden;
  }
  .assistant-trigger__ewc-class {
    color: $gray-9;
    width: 42px;
    height: 42px;
  }
  .notification-trigger-button__ewc-class {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -3px;
    left: -3px;
    background: linear-gradient(140deg, greenyellow 0%, green 150%);
    box-shadow: 0px 0 20px rgba(161, 255, 11, 0.816);
    color: $gray-9;
    background-clip: content-box;
    background-size: cover;
    border-radius: 9999px;
    animation: pulse 1s infinite ease-out;
    @keyframes pulse {
      0% {
        transform: scale(1.3);
      }
      50% {
        transform: scale(1);
      }
    }
  }
}
