.form-cont__bot-ewc-class {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 10px 10px;
  margin: 0;
  background-image: linear-gradient(140deg, $main 0%, $secondary 180%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form-field-name-bot__ewc-class {
  margin-bottom: 5px;
  padding-left: 10px;
  color: $gray-10;
  font-weight: 500;
}
.form-field-name-bot-error__ewc-class {
  margin-bottom: 5px;
  padding-left: 10px;
  color: tomato;
  font-weight: 500;
}
.form-field-bot__ewc-class {
  height: 30px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 0 10px;
  &::placeholder {
    padding-left: 0px;
    color: $gray-7;
  }
  &:focus {
    border: none;
  }
}
.form-field-bot-error__ewc-class {
  height: 30px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 0 10px;
  border: 2px solid tomato;
  &::placeholder {
    padding-left: 0px;
    color: $gray-7;
  }
  &:focus {
    border: 2px solid tomato;
  }
}
.form-button__bot-ewc-class {
  width: 100%;
  height: 40px;
  // background-image: linear-gradient(140deg, $secondary 0%, $main 180%);
  background: transparent;
  border: none;
  border: 2px solid $gray-10;
  border-radius: 17px;
  color: $gray-10;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    color: $gray-9;
    cursor: pointer;
    background: linear-gradient(140deg, $secondary 30%, $main 150%);
  }
}
