.inputs-container__ewc-class {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $gray-10;
  border-top: 2px solid $gray-9;
  box-shadow: 0 5px 1px 0px rgba(0, 0, 0, 0.226);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 30px;
  padding: 0 10px;

  .chat-input__ewc-class {
    color: $gray-2;
    width: 68%;
    height: 40px;
    outline: none;
    font-size: 20px;
    border: 2px solid $gray-9;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    &::placeholder {
      padding-left: 3px;
    }

    &:focus {
      transition: 0.5s ease all;
      border-color: $main;
    }
  }
  .send-button__ewc-class {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(140deg, $main, $secondary);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transition: 0.5s ease all;
      cursor: pointer;
      .send-image__ewc-class {
        transition: 0.5s ease all;
        border: 2px solid $secondary;
        cursor: pointer;
      }
    }
    &:active {
      transition: 0.5s ease all;
      opacity: 1;
    }
    .send-image__ewc-class {
      transition: 0.5s ease all;
      border: 3px solid rgba($main, 0);
      padding: 3px;
      border: 2px solid rgba($secondary, 0.5);
      border-radius: 50%;
    }
  }
  .disabled-button__ewc-class {
    &:hover {
      background-color: $main-hover;
      cursor: wait;
    }
  }
}

.upload-button__ewc-class {
  width: 38.4px;
  height: 38.4px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  object-fit: contain;
  background: linear-gradient(140deg, $main, $secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  &:hover {
    // background: linear-gradient(140deg, $secondary, $main);
    cursor: pointer;
    .file-icon__ewc-class {
      border: 2px solid $secondary;
      cursor: pointer;
    }
  }
  .input-file__ewc-class {
    z-index: 0;
    position: absolute;
    left: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: $main;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $main;
    &:hover {
      transition: 0.5s ease all;
      background: $main-hover;
      cursor: pointer;
    }

    &:active {
      transition: 0.5s ease all;
      opacity: 1;
    }
    .send-image__ewc-class {
      object-fit: cover;
    }
  }
  .file-icon__ewc-class {
    width: 85%;
    height: 85%;
    padding: 2px;
    color: $gray-10;
    transition: 0.5s ease all;
    transform: rotate3d(0, 0, 1, 0deg);
    border: 2.4px solid rgba($secondary, 0.3);
    border-radius: 50%;
    &:hover {
      transition: 0.5s ease all;
      border: 2px solid $secondary;
      cursor: pointer;
    }
  }
}

.emit__ewc-class {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

.upload-active__ewc-class {
  .file-icon__ewc-class {
    // outline: 2px solid $secondary;
    transform: rotate3d(0, 0, 1, 180deg);
  }
}
