.chat-box__ewc-class {
  height: 306px;
  width: 100%;
  background-color: $gray-10;
  margin-top: 7px;
  padding-top: 10px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: $gray-2;
  .dialogues-box__ewc-class {
    padding: 8px;
    max-height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .bot-dialogue__ewc-class {
      display: flex;
      align-items: left;
      width: 70%;
      margin: 5px 0;
      margin-left: 5px;
      .bot-image-container__ewc-class {
        .bot-image__ewc-class {
          width: 25px;
          height: 25px;
          border-radius: 27px;
          background-color: $main;
          background-image: linear-gradient(140deg, $secondary 0%, $main 150%);
          margin-right: 5px;
          box-shadow: 0 1px 2px 1px rgba($secondary, 0.5);
          border: 1px solid $gray-9;
        }
        .agent-image__ewc-class {
          box-shadow: 0 1px 2px 1px rgba($main, 0.5);
          width: 25px;
          height: 25px;
          border-radius: 27px;
          background-color: $secondary;
          margin-right: 5px;
          background-image: linear-gradient(140deg, $main 0%, $secondary 150%);
          border: 1px solid $gray-9;
          color: $gray-10;
          padding: 2px;
        }
      }
      .bot-text-container__ewc-class {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray-9;
        border: none;
        .bot-text__ewc-class {
          position: relative;
          flex-direction: column;
          display: flex;
          align-items: center;
          min-height: 30px;
          text-align: left;
          padding: 10px;
          border-radius: 5px;
          border-top-left-radius: 0px;
          background-color: $secondary;
          max-width: 230px;
          & > img {
            width: 100%;
            border-radius: 5px;
          }
        }
        .agent-text__ewc-class {
          position: relative;
          flex-direction: column;
          display: flex;
          align-items: center;
          min-height: 30px;
          text-align: left;
          padding: 10px;
          border-radius: 5px;
          border-top-left-radius: 0px;
          background-color: $main;
          // background-image: linear-gradient(160deg, $main 0%, $secondary 130%);
          max-width: 230px;
          & > img {
            width: 100%;
            border-radius: 5px;
          }
        }
      }
    }
    .bot-time__ewc-class {
      color: $gray-4;
      font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-left: 34px;
      margin-bottom: 10px;
      font-size: 10px;
      padding: 3px 5px;
      width: fit-content;
    }

    .user-dialogue__ewc-class {
      display: flex;
      align-items: right;
      width: 70%;
      margin: 5px 0;
      margin-left: 30%;
      justify-content: flex-end;
      .user-dialogue-container__ewc-class {
        position: relative;
        border: none;
        background-color: $gray-9;
        color: $gray-3;
        border-radius: 10px;
        border-top-right-radius: 0px;
        margin-right: 5px;
        padding: 10px;
        display: flex;
        max-width: 230px;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding-left: 15px;
        & img {
          width: 100%;
          border-radius: 4.8px;
          border: 1px solid $gray-9;
        }
      }
      .user-maximize-and-download-container__ewc-class {
        align-items: flex-start;
        position: absolute;
        top: -0.16px;
        left: -0.16px;
        & * {
          fill: $main;
        }
        & button {
          background-color: $gray-9;
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }
      }
    }

    .clickable-bot__ewc-class {
      &:hover,
      &:focus {
        & span {
          cursor: pointer;
        }
      }
    }
    .user-time__ewc-class {
      color: $gray-4;
      font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-bottom: 10px;
      font-size: 10px;
      text-align: right;
      margin-right: 10px;
    }
  }
}

.chat-box-without-name-and-RUT__ewc-class {
  height: 384px;
  margin-top: 6px;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.226);
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: $gray-2;
  text-align: center;
  // outline: none;
  .without-header__ewc-class {
    background-color: $gray-10;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    color: $gray-4;
    padding-top: 10px;
    .without-welcome__ewc-class {
      background-image: linear-gradient(135deg, $main 0%, $secondary 120%);
      background-size: 100%;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      font-weight: 700;
      font-size: 26px;
      padding: 6.4px 0 1.6px 0;
    }
    .without-information__ewc-class {
      font-size: 12.8px;
      padding: 0 20px;
    }
  }
  .without-body__ewc-class {
    height: 310px;
    width: 100%;
    background-color: $gray-10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .without-body-inputs-box-container__ewc-class {
      width: 100%;
      // poner un height de 100% para que no se vea el border
      height: 215px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .inp-control__ewc-class {
      width: 90%;
      height: 40px;
      border: 1px solid $gray-8;
      border-radius: 5px;
      padding-left: 10px;
      color: $gray-3;
      &::placeholder {
        color: $gray-6;
        padding-left: 5px;
      }
      &:focus {
        border: 2px solid rgba($main, 0.7);
        outline: none;
      }
    }
    .inp-control-error__ewc-class {
      border: 2px solid $main-hover;
    }
    .error-message__ewc-class {
      color: $main;
      width: 90%;
      height: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }
    .but-control__ewc-class {
      position: relative;
      bottom: 2px;
      width: 90%;
      font-family: 'Roboto', sans-serif;
      height: 40px;
      border: 1px solid $gray-9;
      color: $gray-9;
      font-weight: 700;
      font-size: 14px;
      cursor: pointer;
      margin: 0;
      background-image: linear-gradient(165deg, $main 0%, $secondary 70%);
      background-size: 200% 100%;
      display: inline-block;
      border: none;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      &:hover {
        animation: gradient 3s infinite;
        transform: scale(1.01);
      }
      &:active {
        animation: gradient 3s infinite;
        transform: scale(1);
      }
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.maximize-and-download-container__ewc-class {
  transition: all 0.2s ease-in-out;
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  right: -2px;
  border-radius: 2px;
  background-color: transparent;
  cursor: default;
  padding: 5px 0;
  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.8px;
    height: 28.8px;
    border-radius: 2px;
    border: none;
    background-color: transparent;
    :hover {
      cursor: pointer;
    }
    & svg {
      // background: transparent;
      // outline: 1px solid $main;
      color: $gray-10;
    }
  }

  .bot-file-maximize__ewc-class {
    width: 19.2px;
    height: 19.2px;
    border: none;

    & svg {
      background-color: rgba($main-hover, 0.9);
    }
  }
  .bot-file-download__ewc-class {
    width: 19.2px;
    height: 19.2px;
    border: none;
    & svg {
      background-color: rgba($main-hover, 0.9);
    }
  }
}

.maximized-file-modal__ewc-class {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99998;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  .bot-image-maximized__ewc-class {
    z-index: 99998;
    width: 95%;
    height: 100%;
    border-radius: 5.2px;
    background-color: $gray-10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: transparent;
  }
  .minimize-image-button__ewc-class {
    z-index: 99999;
    position: absolute;
    top: 1.5%;
    right: 1%;
    width: 44.8px;
    height: 44.8px;
    background-color: transparent;
    border: none;
    :hover {
      border-radius: 5px;
      padding: 5px;
      background-color: rgba($gray-10, 0.9);
      cursor: pointer;
      box-shadow: 0 0 16px rgba($gray-10, 0.8);
    }
    & svg {
      width: 100%;
      height: 100%;
      background: transparent;
      color: $gray-10;
      & path {
        fill: $gray-5;
      }
    }
  }
}
